{% if page.skills %}
  {% capture skills %}
    {% for skill in page.skills %}
      <span class="label  label--skill"><a href="{{ site.baseurl }}/skills/#{{ skill | downcase | slugify }}">{{ skill }}</a></span>{% if forloop.last == false %},{% endif %}
    {% endfor %}
  {% endcapture %}
{% elsif page.skill %}
  {% capture skills %}
    <span class="label  label--skill"><a href="{{ site.baseurl }}/skills/#{{ page.skill | downcase | slugify }}">{{ page.skill }}</a></span>
  {% endcapture %}
{% endif %}

<small class="small  post-meta">
  {% assign date_format = site.date_format | default: "%d %b %Y" %}
  {{ skills | append: "&nbsp;&middot;&nbsp;" }}<time datetime="{{ page.date | date_to_xmlschema }}" class="time">{{ page.date | date: date_format }}</time>
</small>
